/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-violet: #533d70;
  --color-stone: #becdd6;
  --color-pale-violet: #b8abd4;
  --color-light-gray: #e7e7e7;
  --color-dark-gray: #474747;

  --color-primary-text: #111111;
  --color-secondary-text: #363636;

  --font-primary: "Open Sans";
  --font-secondary: "Raleway";
}

* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

/* Side Css */
.sidebar-container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--color-pale-violet);
  border-left: 10px solid var(--color-pale-violet);
  transition: 0.5s;
  overflow: hidden;

  img {
    width: 40px;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    li:nth-child(1) {
      margin-bottom: 40px;
      pointer-events: none;

      h2 {
        margin-left: -10px;
      }
    }

    li {
      position: relative;
      width: 100%;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      a {
        margin-left: 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        color: var(--color-primary-text);
        font-size: 1rem;
        font-weight: 700;
        white-space: nowrap;
      }

      .icon,
      .title {
        position: relative;
        display: block;
        height: 60px;
        line-height: 60px;
      }

      .icon {
        font-size: 2rem;
      }

      .title {
        transition: 0.5s;
      }
    }

    li:hover,
    li.hovered {
      background-color: white;
    }

    li:hover a,
    li.hovered a {
      color: var(--color-violet);
    }

    li:hover .title {
      padding-left: 10px;
      font-size: 130%;
    }
  }
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px white;
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px white;
  pointer-events: none;
}

.navigation.active {
  width: 80px;
}

/* Title */
.title-container {
  color: var(--color-violet);
  font-size: 3rem;
  padding: 20px 0 0 20px;
}

/* Main Css */
.main-container {
  position: absolute;
  width: calc(100% - 140px);
  left: 95px;
  transition: 0.5s;

  img {
    width: 50px;
  }

  .topbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .toggle {
      position: relative;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      cursor: pointer;
    }

    .title {
      position: relative;
      width: fit-content;
      font-size: 2rem;
      color: var(--color-violet);
    }

    .user {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
      cursor: pointer;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.main-container.active {
  width: calc(100% - 350px);
  left: 310px;
}

