/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-violet: #533d70;
  --color-stone: #becdd6;
  --color-pale-violet: #b8abd4;
  --color-light-gray: #e7e7e7;

  --color-primary-text: #111111;
  --color-secondary-text: #363636;

  --font-primary: "Open Sans";
  --font-secondary: "Raleway";
}

* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

/* nav bar css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  .title-container {
    display: flex;
    align-items: center;

    img {
      width: 40px;
    }

    h1 {
      font-size: 2rem;
      color: var(--color-violet);
    }
  }

  .search-bar {
    border: solid var(--color-violet) 2px;
    border-radius: 20px;
    padding: 5px 10px;
    color: black;

    input {
      outline: none;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      width: 400px;
    }

    button {
      background: none;
      border: none;
      font-size: 1rem;
    }
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 30px;

    button {
      font-size: 1.15rem;
      font-weight: 800;

      i {
        font-size: 2rem;
      }
    }

    .cs-button {
      background: none;
      border: none;
      border-radius: 10px;
      color: var(--color-violet);
      padding: 5px;
      transition: all 0.3s ease;
    }

    .cs-button:hover {
      background-color: var(--color-violet);
      color: var(--color-stone);
      cursor: pointer;
    }

    .sign-button {
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      background-color: var(--color-stone);
      color: var(--color-violet);
      transition: all 0.3s ease;
    }

    .sign-button:hover {
      background-color: var(--color-violet);
      color: var(--color-stone);
      cursor: pointer;
    }
  }
}

/* Hero css */
.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .first-container {
    img {
      width: 100%;
      height: auto;
    }
  }

  .second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 20px 0;

    h2 {
      font-size: 4rem;
      color: var(--color-primary-text);
    }

    p {
      font-size: 2rem;
      font-weight: 500;
      color: var(--color-secondary-text);
    }
  }

  .third-container {
    margin: 0 auto;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 30px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    .item1 {
      grid-area: 1 / 1 / 3 / 2;
    }

    .item4 {
      grid-area: 2 / 2 / -1 / -1;
    }
      
  }
}

/* Top Products Css */
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    h2 {
      font-size: 3rem;
      color: var(--color-primary-text);
    }

    .type-container {
      display: flex;
      gap: 20px;
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--color-secondary-text);
    }
  }
}

.top-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .product-container {
    background-color: var(--color-pale-violet);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    border-radius: 20px;
  
    img {
      width: 100%;
      border-radius: 20px;
    }
  
    .desc-container {
      margin-left: 20px;
  
      h3 {
        font-size: 1.5rem;
      }
  
      p {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-secondary-text);
      }
    }
  
    .button-container {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      margin: 0 20px 20px 0;
  
      .cart-button {
        font-size: 1.5rem;
      }
  
      button {
        padding: 0 15px;
        font-size: 1rem;
        font-weight: 800;
        border: none;
        border-radius: 10px;
        background-color: var(--color-stone);
        color: var(--color-violet);
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: var(--color-violet);
        color: var(--color-stone);
        cursor: pointer;
      }
    }
  }
}

/* More Css */
.more-container {
  margin: 70px 0 20px 0;
  display: flex;
  align-items: center;
  padding: 30px 250px;
  gap: 100px;
  background-color: var(--color-pale-violet);

  img {
    width: 400px;
  }

  .tb-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      font-size: 3rem;
      color: var(--color-primary-text);
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--color-secondary-text);
    }

    button {
      width: fit-content;
      font-size: 1.25rem;
      font-weight: 700;
      background-color: var(--color-stone);
      color: var(--color-violet);
      border: none;
      border-radius: 10px;
      padding: 5px 20px;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: var(--color-violet);
      color: var(--color-stone);
      cursor: pointer;
    }
  }
}

/* Service Css */
.service-container {

  padding: 40px 50px;
  margin-bottom: 50px;

  .text-container {
    margin-bottom: 20px;
    h2 {
      font-size: 3rem;
      color: var(--color-primary-text);
    }

    p {
      font-size: 1.5rem;
      color: var(--color-secondary-text);
    }
  }
  
  .services {
    display: flex;
    justify-content: space-between;
  
    .service {
      border-radius: 20px;
      padding: 40px 50px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
  
      h3 {
        font-size: 2rem;
        color: var(--color-violet);
      }
  
      p {
        color: var(--color-secondary-text);
      }
    }
  }
}

/* Footer Css */
footer {
  background-color: var(--color-pale-violet);
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;

  h4 {
    color: var(--color-primary-text);
  }

  p {
    color: var(--color-secondary-text);
    font-weight: 600;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;

    .logo-container {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 1.5rem;

      img {
        width: 50px;
      }
    }
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      font-size: 1.5rem;
    }
  }

  .social-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      font-size: 1.5rem;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      div {
        display: flex;
        align-items: center;
        gap: 5px;

        i {
          font-size: 1.5rem;
        }

        p {
          margin-top: -5px;
        }
      }
    }
  }
}
