:root {
  --color-violet: #533d70;
  --color-stone: #becdd6;
  --color-pale-violet: #b8abd4;
  --color-light-gray: #e7e7e7;
  --color-dark-gray: #474747;

  --color-primary-text: #111111;
  --color-secondary-text: #585858;

  --font-primary: "Open Sans";
  --font-secondary: "Raleway";
}

/* Admin Members Css */
.members-container {
  position: relative;
  width: 100%;
  height: 90vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .card {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

    span {
      font-weight: 500;
      color: var(--color-secondary-text);
    }

    .card-header {
      display: flex;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h3 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      gap: 30px;

      p {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: justify;
      }
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1rem;
      }

      button {
        padding: 5px 20px;
        font-size: 1rem;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        color: var(--color-violet);
        background-color: var(--color-stone);
        transition: all 0.3s ease;
      }

      button:hover {
        color: var(--color-stone);
        background-color: var(--color-violet);
        cursor: pointer;
      }
    }
  }

  .card-container {
    position: relative;
    display: grid;
    grid-gap: 20px;
    place-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);

    .card1 {
      grid-column: 2 / 6;
      grid-row: 1 / 3;
    }

    .card2 {
      grid-column: 1 / 5;
      grid-row: 3 / 5;
    }

    .card3 {
      grid-column: 5 / 9;
      grid-row: 3 / 5;
    }

    .card4 {
      grid-column: 4 / 8;
      grid-row: 5 / 7;
    }
  }
}

/* Member Details Css */
.member-details {
  position: absolute;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  pointer-events: none;

  .card-container {
    position: relative;
    width: 1764px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1500px;
    opacity: 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

    .img-card {
      background-color: var(--color-pale-violet);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

      img {
        width: 250px;
        border-radius: 10px;
      }
    }

    .info-card {
      background-color: var(--color-stone);
      padding: 40px;
      display: flex;
      align-items: center;
      min-width: 70%;
      font-size: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

      .first-info,
      .second-info {
        display: flex;
        flex-direction: column;
        gap: 70px;

        span {
          color: var(--color-primary-text);
          font-weight: 700;
        }

        p {
          color: var(--color-violet);
          font-weight: 700;
        }
      }

      .first-info {
        border-right: solid 1px;
        padding-right: 70px;
      }

      .second-info {
        padding-left: 70px;
      }
    }

    .role-card {
      background-color: var(--color-pale-violet);
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px;
      min-width: 1420px;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

      span {
        font-weight: 700;
        font-size: 2rem;
        color: var(--color-violet);
      }

      p {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
      }
    }

    .button-container {
      width: 100%;

      button {
        width: inherit;
        border: none;
        padding: 10px;
        font-size: 1.25rem;
        border-radius: 10px;
        font-weight: 800;
        color: var(--color-violet);
        background-color: var(--color-stone);
        transition: all 0.3s ease;
      }

      button:hover {
        cursor: pointer;
        color: var(--color-stone);
        background-color: var(--color-violet);
      }
    }
  }
}
