/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-violet: #533d70;
  --color-stone: #becdd6;
  --color-pale-violet: #b8abd4;
  --color-light-gray: #e7e7e7;

  --color-primary-text: #111111;
  --color-secondary-text: #777777;

  --font-primary: "Open Sans";
  --font-secondary: "Raleway";
}

* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

/* nav bar css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  .title-container {
    display: flex;
    align-items: center;

    img {
      width: 40px;
    }

    h1 {
      font-size: 2rem;
      color: var(--color-violet);
    }
  }

  .title-container:hover {
    cursor: pointer;
  }
  
  .search-bar {
    border: solid var(--color-violet) 2px;
    border-radius: 20px;
    padding: 5px 10px;
    color: black;

    input {
      outline: none;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      width: 400px;
    }

    button {
      background: none;
      border: none;
      font-size: 1rem;
    }
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 30px;

    button {
      font-size: 1.15rem;
      font-weight: 800;

      i {
        font-size: 2rem;
      }
    }

    .cs-button {
      background: none;
      border: none;
      border-radius: 10px;
      color: var(--color-violet);
      padding: 5px;
      transition: all 0.3s ease;
    }

    .cs-button:hover {
      background-color: var(--color-violet);
      color: var(--color-stone);
      cursor: pointer;
    }

    .sign-button {
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      background-color: var(--color-stone);
      color: var(--color-violet);
      transition: all 0.3s ease;
    }

    .sign-button:hover {
      background-color: var(--color-violet);
      color: var(--color-stone);
      cursor: pointer;
    }
  }
}

/* Hero css */
.hero {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

/* Container */
.tf-container {
  margin: 40px 0 20px 0;
  padding: 0 40px;

  .text-container {
    h2 {
      color: var(--color-primary-text);
      font-size: 4rem;
    }

    p {
      color: var(--color-secondary-text);
      font-weight: 600;
      font-size: 2rem;
    }
  }

  .filter-container {
    display: flex;
    gap: 20px;
    margin: 20px 0 0 0;

    button {
      border: none;
      border-radius: 7px;
      padding: 5px 15px;
      font-size: 1rem;
      font-weight: 700;
      color: var(--color-violet);
      background-color: var(--color-stone);
      transition: all 0.3s ease;
    }

    button:hover {
      color: var(--color-stone);
      background-color: var(--color-violet);
      cursor: pointer;
    }
  }
}

/* Product Catalog Css */
.product-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 40px;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-pale-violet);
  width: 400px;
  border-radius: 20px;

  img {
    border-radius: 20px;
    width: 100%;
  }

  .text-container {
    margin-left: 20px;

    h3 {
      font-size: 1.5rem;
      color: var(--color-primary-text);
    }

    p {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--color-secondary-text);
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0 20px 20px 0;

    .cart-button {
      border: none;
      border-radius: 5px;
      padding: 2px 6px;
      font-size: 1.5rem;
      background-color: var(--color-stone);
      color: var(--color-violet);
      transition: all 0.3s ease;
    }

    .cart-button:hover {
      color: var(--color-stone);
      background-color: var(--color-violet);
      cursor: pointer;
    }

    .buy-button {
      border: none;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 1rem;
      font-weight: 700;
      color: var(--color-violet);
      background-color: var(--color-stone);
      transition: all 0.3s ease;
    }

    .buy-button:hover {
      color: var(--color-stone);
      background-color: var(--color-violet);
      cursor: pointer;
    }
  }
}

/* Page Selector Css */
.page-selector {
  padding: 40px;
  display: flex;
  justify-content: space-between;

  .page-viewer {
    display: flex;
    gap: 10px;

    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  button {
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 500;
  }

  button:hover {
    cursor: pointer;
  }
}

/* Footer Css */
footer {
  background-color: var(--color-pale-violet);
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;

  h4 {
    color: var(--color-primary-text);
  }

  p {
    color: var(--color-secondary-text);
    font-weight: 600;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;

    .logo-container {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 1.5rem;

      img {
        width: 50px;
      }
    }
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      font-size: 1.5rem;
    }
  }

  .social-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      font-size: 1.5rem;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      div {
        display: flex;
        align-items: center;
        gap: 5px;

        i {
          font-size: 1.5rem;
        }

        p {
          margin-top: -5px;
        }
      }
    }
  }
}
