:root {
  --color-violet: #533d70;
  --color-stone: #becdd6;
  --color-pale-violet: #b8abd4;
  --color-light-gray: #e7e7e7;
  --color-dark-gray: #474747;

  --color-primary-text: #111111;
  --color-secondary-text: #585858;

  --font-primary: "Open Sans";
  --font-secondary: "Raleway";
}

/* Capabilities Css */
.capabilities-container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px;

  h2 {
    font-size: 2.5rem;
    span {
      color: var(--color-violet);
    }
  }

  .capability-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 40px 20px;
    border-radius: 10px;
    background-color: var(--color-pale-violet);

    .capability {
      width: 380px;

      img {
        width: 400px;
      }

      .capab-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: solid 1px;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }

      h4 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: justify;
        text-indent: 30px;
      }
    }
  }
}
