/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-violet: #533d70;
  --color-stone: #becdd6;
  --color-pale-violet: #b8abd4;
  --color-light-gray: #e7e7e7;
  --color-dark-gray: #474747;

  --color-primary-text: #111111;
  --color-secondary-text: #363636;

  --font-primary: "Open Sans";
  --font-secondary: "Raleway";
}

* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

.main-container {
  position: absolute;
  width: calc(100% - 330px);
  left: 310px;
  transition: 0.5s;

  img {
      width: 50px;
  }

  .topbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      .toggle {
          position: relative;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          cursor: pointer;
      }

      .search {
          position: relative;
          width: 400px;
          margin: 0 10px;

          label {
              position: relative;
              width: 100%;

              input {
                  width: 100%;
                  padding: 10px 10px 10px 40px;
                  outline: none;
                  border-radius: 20px;
                  border: solid 2px;
                  font-size: 1rem;
              }
              
              i {
                  position: absolute;
                  top: 0px;
                  left: 10px;
                  font-size: 1.5rem;
              }
          }
      }

      .user {
          position: relative;
          width: 40px;
          height: 40px;
          overflow: hidden;
          cursor: pointer;

          img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }
  }
}

.main-container.active {
  width: calc(100% - 100px);
  left: 80px;
}